@charset "EUC-KR";
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

.calcInput{
	background-color: #FFF9C4;
	height: 30px;
	font-size: 14pt;
	text-align: center;
	font-family: 'Galmuri9';
	font-size: 20px;
	
}

#calcBtn {
	border: none;
	color: #FAFAFA;
	height: 30px;
	background-color: transparent;
	font-size: 13pt;
	font-weight: 800;
	font-family: 'Galmuri9';
	font-size: 20px;
	background-color: #BDBDBD;
}